.homePageContent {
    padding-bottom: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.homePageTextContainer {
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(95, 19, 19);
    border-top: 1px solid rgb(95, 19, 19);
}

h3 {
    font-weight: 200;
    margin-top: 20px;
}

.imageContainer {
    position: relative;
    display: inline-block;
    width: 100%;
}

.image {
    width: 100%;
    display: block;
    transition: opacity 0.3s ease;
  }
  
  .button {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.223);
    color: rgb(33, 60, 35);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 2.5rem;
    font-weight: 200;
  }
  
  .imageContainer:hover .image {
    opacity: 0.6;
  }
  
  .imageContainer:hover .button {
    opacity: 1;
  }