.itemCard {
    background-color: rgb(199, 224, 199);
    border-radius: 4px;
    padding: 14px 14px 8px 14px;
    margin: 14px;
    /*width: 18rem;*/
    display: flex;
    flex-direction: column;
}

.textBox {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: rgb(34, 34, 34);
    font-size: 1.8em;
    margin: 8px;
}

h5 {
    color: rgb(73, 73, 73);
    margin: 6px;
}

img {
    width: 100%;
    border-radius: 4px;
}