.itemCard {
    
    border-radius: 4px;
    padding: 14px 14px 8px 14px;
    margin: 14px;
    width: 18rem;
    display: flex;
    flex-direction: column;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.4rem;
    padding-left: 0.5rem;
}

h3 {
    color: rgb(34, 34, 34);
    font-size: 1.5em;
    margin: 0;
   
}

h5 {
    color: rgb(73, 73, 73);
    margin: 0;
    font-size: 1em;
    font-weight: 200;
 
}

img {
    width: 100%;
    min-height: 27rem;
    border-radius: 4px;
}