#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 95%;
  height: 100vh;
  display: flex;
  
  flex-direction: column;
  align-items: center;
 
}

.itemPage {
  position: relative;
  top: -100px;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImage {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(233, 233, 233, 0.5);
  z-index: 1;
}

.contentContainer {
  position: relative;
  z-index: 2;
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
